/*
=====================================================================
*   Ceevee v1.0 Layout Stylesheet
*   url: styleshout.com
*   03-18-2014
=====================================================================

   TOC:
   a. General Styles
   b. Header Styles
   c. About Section
   d. Resume Section
   e. Portfolio Section
   f. Call To Action Section
   g. Testimonials Section
   h. Contact Section
   i. Footer

===================================================================== */

/* ------------------------------------------------------------------ */
/* a. General Styles
/* ------------------------------------------------------------------ */

body {
	background : #0f0f0f;
}

/* ------------------------------------------------------------------ */
/* b. Header Styles
/* ------------------------------------------------------------------ */

header {
	position                : relative;
	overflow                : hidden;
	min-height              : 500px;
	width                   : 100%;
	height                  : 800px;
	background              : #161415 url(../profile_images/header-background.jpg) no-repeat top center;
	background-size         : cover !important;
	text-align              : center;
	-webkit-background-size : cover !important;
}

/* vertically center banner section */
header:before {
	display        : inline-block;
	height         : 100%;
	content        : '';
	vertical-align : middle;
}

header .banner {
	display        : inline-block;
	margin         : 0 auto;
	padding-bottom : 30px;
	width          : 85%;
	vertical-align : middle;
	text-align     : center;
}

header .banner-text {
	width : 100%;
}

header .banner-text h1 {
	margin         : 0 auto 18px auto;
	color          : #fff;
	text-shadow    : 0 1px 3px rgba(0, 0, 0, .8);
	letter-spacing : -2px;
	font           : 90px/1.1em 'opensans-bold', sans-serif;
}

header .banner-text h3 {
	margin      : 0 auto;
	width       : 70%;
	color       : #A8A8A8;
	text-shadow : 0 1px 2px rgba(0, 0, 0, .5);
	font        : 18px/1.9em 'librebaskerville-regular', serif;
}

header .banner-text h3 span,
header .banner-text h3 a {
	color : #fff;
}

header .banner-text hr {
	margin       : 18px auto 24px auto;
	width        : 60%;
	border-color : #2F2D2E;
	border-color : rgba(150, 150, 150, .1);
}

/* header social links */
header .social {
	margin      : 24px 0;
	padding     : 0;
	text-shadow : 0 1px 2px rgba(0, 0, 0, .8);
	font-size   : 30px;
}

header .social li {
	display : inline-block;
	margin  : 0 15px;
	padding : 0;
}

header .social li a {
	color : #fff;
}

header .social li a:hover {
	color : #11ABB0;
}

/* scrolldown link */
header .scrolldown a {
	position           : absolute;
	bottom             : 30px;
	left               : 50%;
	display            : block;
	margin-left        : -29px;
	width              : 42px;
	height             : 42px;
	border-radius      : 100%;
	color              : #fff;
	font-size          : 42px;
	line-height        : 42px;

	-webkit-transition : all .3s ease-in-out;
	-moz-transition    : all .3s ease-in-out;
	-o-transition      : all .3s ease-in-out;
	transition         : all .3s ease-in-out;
}

header .scrolldown a:hover {
	color : #11ABB0;
}

/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap ul, #nav-wrap li, #nav-wrap a {
	margin  : 0;
	padding : 0;
	outline : none;
	border  : none;
}

/* nav-wrap */
#nav-wrap {
	position       : fixed;
	top            : 0;
	left           : 0;
	z-index        : 100;
	margin         : 0 auto;
	width          : 100%;
	text-transform : uppercase;
	letter-spacing : 3px;
	font           : 12px 'opensans-bold', sans-serif;
}

.opaque {
	background-color : #333;
}

/* hide toggle button */
#nav-wrap > a.mobile-btn {
	display : none;
}

ul#nav {
	min-height : 48px;
	width      : auto;

	/* center align the menu */
	text-align : center;
}

ul#nav li {
	position   : relative;
	display    : inline-block;
	height     : 48px;
	list-style : none;
}

/* Links */
ul#nav li a {

	/* 8px padding top + 8px padding bottom + 32px line-height = 48px */

	display            : inline-block;
	padding            : 8px 13px;
	color              : #fff;
	text-align         : left;
	text-decoration    : none;
	line-height        : 32px;

	-webkit-transition : color .2s ease-in-out;
	-moz-transition    : color .2s ease-in-out;
	-ms-transition     : color .2s ease-in-out;
	-o-transition      : color .2s ease-in-out;
	transition         : color .2s ease-in-out;
}

ul#nav li a:active {
	background-color : transparent !important;
}

ul#nav li.current a {
	color : #F06000;
}

/* ------------------------------------------------------------------ */
/* c. About Section
/* ------------------------------------------------------------------ */

#about {
	overflow       : hidden;
	padding-top    : 96px;
	padding-bottom : 66px;
	background     : #2B2B2B;
}

#about a, #about a:visited {
	color : #fff;
}

#about a:hover, #about a:focus {
	color : #11ABB0;
}

#about h2 {
	margin-bottom : 12px;
	color         : #fff;
	font          : 22px/30px 'opensans-bold', sans-serif;
}

#about p {
	color       : #7A7A7A;
	line-height : 30px;
}

#about .profile-pic {
	position      : relative;
	width         : 120px;
	height        : 120px;
	border-radius : 100%;
}

#about .contact-details {
	width : 41.66667%;
}

#about .download {
	padding-top : 6px;
	width       : 58.33333%;
}

#about .main-col {
	padding-right : 5%;
}

#about .download .button {
	margin-top : 6px;
	background : #444;
}

#about .download .button:hover {
	background : #fff;
	color      : #2B2B2B;
}

#about .download .button i {
	margin-right : 15px;
	font-size    : 20px;
}

/* ------------------------------------------------------------------ */
/* d. Resume Section
/* ------------------------------------------------------------------ */

#resume {
	overflow       : hidden;
	padding-top    : 90px;
	padding-bottom : 72px;
	background     : #fff;
}

#resume a, #resume a:visited {
	color : #11ABB0;
}

#resume a:hover, #resume a:focus {
	color : #313131;
}

#resume h1 {
	text-transform : uppercase;
	letter-spacing : 1px;
	font           : 18px/24px 'opensans-bold', sans-serif;
}

#resume h1 span {
	padding-bottom : 6px;
	border-bottom  : 3px solid #11ABB0;
}

#resume h3 {
	font : 25px/30px 'opensans-bold', sans-serif;
}

#resume .header-col {
	padding-top : 9px;
}

#resume .main-col {
	padding-right : 10%;
}

.education, .work {
	margin-bottom  : 48px;
	padding-bottom : 24px;
	border-bottom  : 1px solid #E8E8E8;
}

#resume .info {
	margin-top    : 9px;
	margin-bottom : 18px;
	color         : #6E7881;
	font          : 16px/24px 'librebaskerville-italic', serif;
}

#resume .info span {
	margin-right : 5px;
	margin-left  : 5px;
}

#resume .date {
	margin-top : 6px;
	font       : 15px/24px 'opensans-regular', sans-serif;
}

/*----------------------------------------------*/
/*	Skill Bars
/*----------------------------------------------*/

.bars {
	float      : left;
	padding    : 0;
	width      : 95%;
	text-align : left;
}

.bars .skills {
	margin-top : 36px;
	list-style : none;
}

.bars li {
	position      : relative;
	margin-bottom : 60px;
	height        : 42px;
	border-radius : 3px;
	background    : #ccc;
}

.bars li em {
	position       : relative;
	top            : -36px;
	color          : #313131;
	text-transform : uppercase;
	letter-spacing : 2px;
	font           : 15px 'opensans-bold', sans-serif;
	font-weight    : normal;
}

.bar-expand {
	position      : absolute;
	top           : 0;
	left          : 0;

	display       : inline-block;
	margin        : 0;
	padding-right : 24px;
	height        : 42px;
	border-radius : 3px 0 0 3px;
	background    : #313131;
	line-height   : 42px;
}

.photoshop {
	width             : 60%;
	-webkit-animation : photoshop 2s ease;
	-moz-animation    : photoshop 2s ease;
}

.illustrator {
	width             : 55%;
	-webkit-animation : illustrator 2s ease;
	-moz-animation    : illustrator 2s ease;
}

.wordpress {
	width             : 50%;
	-webkit-animation : wordpress 2s ease;
	-moz-animation    : wordpress 2s ease;
}

.css {
	width             : 90%;
	-webkit-animation : css 2s ease;
	-moz-animation    : css 2s ease;
}

.html5 {
	width             : 80%;
	-webkit-animation : html5 2s ease;
	-moz-animation    : html5 2s ease;
}

.jquery {
	width             : 50%;
	-webkit-animation : jquery 2s ease;
	-moz-animation    : jquery 2s ease;
}

@-moz-keyframes photoshop {
	0% {
		width : 0;
	}
	100% {
		width : 60%;
	}
}

@-moz-keyframes illustrator {
	0% {
		width : 0;
	}
	100% {
		width : 55%;
	}
}

@-moz-keyframes wordpress {
	0% {
		width : 0;
	}
	100% {
		width : 50%;
	}
}

@-moz-keyframes css {
	0% {
		width : 0;
	}
	100% {
		width : 90%;
	}
}

@-moz-keyframes html5 {
	0% {
		width : 0;
	}
	100% {
		width : 80%;
	}
}

@-moz-keyframes jquery {
	0% {
		width : 0;
	}
	100% {
		width : 50%;
	}
}

@-webkit-keyframes photoshop {
	0% {
		width : 0;
	}
	100% {
		width : 60%;
	}
}

@-webkit-keyframes illustrator {
	0% {
		width : 0;
	}
	100% {
		width : 55%;
	}
}

@-webkit-keyframes wordpress {
	0% {
		width : 0;
	}
	100% {
		width : 50%;
	}
}

@-webkit-keyframes css {
	0% {
		width : 0;
	}
	100% {
		width : 90%;
	}
}

@-webkit-keyframes html5 {
	0% {
		width : 0;
	}
	100% {
		width : 80%;
	}
}

@-webkit-keyframes jquery {
	0% {
		width : 0;
	}
	100% {
		width : 50%;
	}
}

/* ------------------------------------------------------------------ */
/* e. Portfolio Section
/* ------------------------------------------------------------------ */

#portfolio {
	padding-top    : 90px;
	padding-bottom : 60px;
	background     : #ebeeee;
}

#portfolio h1 {
	margin-bottom  : 48px;
	color          : #95A3A3;
	text-align     : center;
	text-transform : uppercase;
	letter-spacing : 1px;
	font           : 15px/24px 'opensans-semibold', sans-serif;
}

/* Portfolio Content */
#portfolio-wrapper .columns {
	margin-bottom : 36px;
}

.portfolio-item .item-wrap {
	position           : relative;
	overflow           : hidden;
	background         : #fff;

	-webkit-transition : all 0.3s ease-in-out;
	-moz-transition    : all 0.3s ease-in-out;
	-ms-transition     : all 0.3s ease-in-out;
	-o-transition      : all 0.3s ease-in-out;
	transition         : all 0.3s ease-in-out;
}

.portfolio-item .item-wrap a {
	display : block;
	cursor  : pointer;
}

/* overlay */
.portfolio-item .item-wrap .overlay {
	position           : absolute;
	top                : 0;
	left               : 0;
	width              : 100%;
	height             : 100%;

	background         : url(../profile_images/overlay-bg.png) repeat;
	opacity            : 0;
	filter             : alpha(opacity=0);

	-webkit-transition : opacity 0.3s ease-in-out;
	-moz-transition    : opacity 0.3s ease-in-out;
	-o-transition      : opacity 0.3s ease-in-out;
	transition         : opacity 0.3s ease-in-out;

	-moz-opacity       : 0;
}

.portfolio-item .item-wrap .link-icon {
	position           : absolute;
	top                : 50%;
	left               : 50%;
	display            : block;
	margin-top         : -15px;
	margin-left        : -15px;
	width              : 30px;

	height             : 30px;
	color              : #fff;
	text-align         : center;

	font-size          : 18px;
	line-height        : 30px;
	opacity            : 0;
	filter             : alpha(opacity=0);

	-webkit-transition : opacity 0.3s ease-in-out;
	-moz-transition    : opacity 0.3s ease-in-out;
	-o-transition      : opacity 0.3s ease-in-out;
	transition         : opacity 0.3s ease-in-out;
	-moz-opacity       : 0;
}

.portfolio-item .item-wrap img {
	vertical-align : bottom;
}

.portfolio-item .portfolio-item-meta {
	padding : 18px
}

.portfolio-item .portfolio-item-meta h5 {
	color : #fff;
	font  : 14px/21px 'opensans-bold', sans-serif;
}

.portfolio-item .portfolio-item-meta p {
	margin-bottom : 0;
	color         : #c6c7c7;
	font          : 12px/18px 'opensans-light', sans-serif;
}

/* on hover */
.portfolio-item:hover .overlay {
	opacity      : 1;
	filter       : alpha(opacity=100);
	-moz-opacity : 1;
}

.portfolio-item:hover .link-icon {
	opacity      : 1;
	filter       : alpha(opacity=100);
	-moz-opacity : 1;
}

/* popup modal */
.popup-modal {
	position   : relative;
	margin     : 0 auto;
	max-width  : 550px;
	background : #fff;
}

.popup-modal .description-box {
	padding : 12px 36px 18px 36px;
}

.popup-modal .description-box h4 {
	margin-bottom : 12px;
	color         : #111;
	font          : 15px/24px 'opensans-bold', sans-serif;
}

.popup-modal .description-box p {
	margin-bottom : 12px;
	color         : #A1A1A1;
	font          : 14px/24px 'opensans-regular', sans-serif;
}

.popup-modal .description-box .categories {
	display        : block;
	color          : #A1A1A1;
	text-align     : left;
	text-transform : uppercase;
	letter-spacing : 2px;
	font           : 11px/21px 'opensans-light', sans-serif;
}

.popup-modal .description-box .categories i {
	margin-right : 8px;
}

.popup-modal .link-box {
	padding    : 18px 36px;
	background : #111;
	text-align : left;
}

.popup-modal .link-box a {
	color          : #fff;
	text-transform : uppercase;
	letter-spacing : 3px;
	font           : 11px/21px 'opensans-bold', sans-serif;
	cursor         : pointer;
}

.popup-modal a:hover {
	color : #00CCCC;
}

.popup-modal a.popup-modal-dismiss {
	margin-left : 24px;
}

/* fadein/fadeout effect for modal popup
/* ------------------------------------------------------------------ */

/* content at start */
.mfp-fade.mfp-wrap .mfp-content .popup-modal {
	opacity            : 0;
	-webkit-transition : all 200ms ease-in-out;
	-moz-transition    : all 200ms ease-in-out;
	-ms-transition     : all 200ms ease-in-out;
	-o-transition      : all 200ms ease-in-out;
	transition         : all 200ms ease-in-out;
}

/* content fadein */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content .popup-modal {
	opacity : 1;
}

/* content fadeout */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content .popup-modal {
	opacity : 0;
}

/* ------------------------------------------------------------------ */
/* f. Call To Action Section
/* ------------------------------------------------------------------ */

#call-to-action {
	padding-top    : 66px;
	padding-bottom : 48px;
	background     : #212121;
}

#call-to-action h1 {
	color          : #fff;
	text-transform : uppercase;
	letter-spacing : 3px;
	font           : 18px/24px 'opensans-bold', sans-serif;
}

#call-to-action h1 span {
	display : none;
}

#call-to-action .header-col h1:before {
	float         : left;
	padding-right : 10px;
	color         : #fff;
	content       : "\f0ac";
	text-align    : left;
	font-size     : 72px;
	font-family   : 'FontAwesome';
	line-height   : 72px;
}

#call-to-action .action {
	margin-top : 12px;
}

#call-to-action h2 {
	margin-bottom : 6px;
	color         : #EBEEEE;
	font          : 28px/36px 'opensans-bold', sans-serif;
}

#call-to-action h2 a {
	color : inherit;
}

#call-to-action p {
	color     : #636363;
	font-size : 17px;
}

/*#
call-to-action .button {
	color:#fff;
   background: #0D0D0D;
}
*/
#call-to-action .button:hover,
#call-to-action .button:active {
	background : #FFFFFF;
	color      : #0D0D0D;
}

#call-to-action p span {
	color       : #D8D8D8;
	font-family : 'opensans-semibold', sans-serif;
}

/* ------------------------------------------------------------------
/* g. Testimonials
/* ------------------------------------------------------------------ */

#testimonials {
	position                : relative;
	overflow                : hidden;
	min-height              : 200px;
	width                   : 100%;

	background              : #1F1F1F url(../profile_images/testimonials-bg.jpg) no-repeat fixed center center;
	background-size         : cover !important;
	-webkit-background-size : cover !important;
}

#testimonials .text-container {
	padding-top    : 96px;
	padding-bottom : 66px;
}

#testimonials h1 {
	color          : #fff;
	text-transform : uppercase;
	letter-spacing : 3px;
	font           : 18px/24px 'opensans-bold', sans-serif;
}

#testimonials h1 span {
	display : none;
}

#testimonials .header-col {
	padding-top : 9px;
}

#testimonials .header-col h1:before {
	float         : left;
	padding-right : 10px;
	color         : #fff;
	content       : "\f10d";
	text-align    : left;
	font-size     : 72px;
	font-family   : 'FontAwesome';
	line-height   : 72px;
}

/*	Blockquotes */
#testimonials blockquote {
	position     : relative;
	margin       : 0 0 30px 0;
	padding-left : 0;
	text-shadow  : 0 1px 3px rgba(0, 0, 0, 1);
}

#testimonials blockquote:before {
	content : none;
}

#testimonials blockquote p {
	padding     : 0;
	color       : #fff;
	font-size   : 24px;
	font-family : 'librebaskerville-italic', serif;
	line-height : 48px
}

#testimonials blockquote cite {
	display     : block;
	color       : #fff;
	font-style  : normal;
	font-size   : 12px;
	line-height : 18px;
}

#testimonials blockquote cite:before {
	content : "\2014 \0020";
}

#testimonials blockquote cite a,
#testimonials blockquote cite a:visited {
	border : none;
	color  : #8B9798
}

/* Flex Slider
/* ------------------------------------------------------------------ */

/* Reset */
.flexslider a:active,
.flexslider a:focus {
	outline : none;
}

.slides,
.flex-control-nav,
.flex-direction-nav {
	margin     : 0;
	padding    : 0;
	list-style : none;
}

.slides li {
	margin  : 0;
	padding : 0;
}

/* Necessary Styles */
.flexslider {
	position : relative;
	margin   : 0;
	padding  : 0;
	zoom     : 1;
}

.flexslider .slides {
	zoom : 1;
}

.flexslider .slides > li {
	position : relative;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides > li {
	display                     : none;
	-webkit-backface-visibility : hidden;
}

/* Suggested container for slide animation setups. Can replace this with your own */
.flex-container {
	position : relative;
	zoom     : 1;
}

/* Clearfix for .slides */
.slides:before,
.slides:after {
	display : table;
	content : " ";
}

.slides:after {
	clear : both;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
	display : block;
}

/* Slider Styles */
.slides {
	zoom : 1;
}

.slides > li {
	/*margin-right: 5px; */
	overflow : hidden;
}

/* Control Nav */
.flex-control-nav {
	position   : absolute;
	bottom     : -20px;
	width      : 100%;
	text-align : left;
}

.flex-control-nav li {
	display  : inline-block;
	*display : inline;
	margin   : 0 6px;
	zoom     : 1;
}

.flex-control-paging li a {
	display               : block;
	width                 : 12px;
	height                : 12px;
	-webkit-border-radius : 20px;
	-moz-border-radius    : 20px;
	border-radius         : 20px;
	background            : #ddd;
	background            : rgba(255, 255, 255, .3);
	box-shadow            : inset 0 0 3px rgba(255, 255, 255, .3);
	text-indent           : -9999px;
	cursor                : pointer;
	-o-border-radius      : 20px;
}

.flex-control-paging li a:hover {
	background : #CCC;
	background : rgba(255, 255, 255, .7);
}

.flex-control-paging li a.flex-active {
	background : #fff;
	background : rgba(255, 255, 255, .9);
	cursor     : default;
}

/* ------------------------------------------------------------------ */
/* h. Contact Section
/* ------------------------------------------------------------------ */

#contact {
	padding-top    : 96px;
	padding-bottom : 102px;
	background     : #191919;
	color          : #636363;
}

#contact .section-head {
	margin-bottom : 42px;
}

#contact a, #contact a:visited {
	color : #11ABB0;
}

#contact a:hover, #contact a:focus {
	color : #fff;
}

#contact h1 {
	margin-bottom  : 6px;
	color          : #EBEEEE;
	text-transform : uppercase;
	letter-spacing : 3px;
	font           : 18px/24px 'opensans-bold', sans-serif;
}

#contact h1 span {
	display : none;
}

#contact h1:before {
	float         : left;
	padding-right : 10px;
	color         : #ebeeee;
	content       : "\f0e0";
	text-align    : left;
	font-size     : 72px;
	font-family   : 'FontAwesome';
	line-height   : 72px;
}

#contact h4 {
	margin-bottom : 6px;
	color         : #EBEEEE;
	font          : 16px/24px 'opensans-bold', sans-serif;
}

#contact p.lead {
	padding-right : 3%;
	font          : 18px/36px 'opensans-light', sans-serif;
}

#contact .header-col {
	padding-top : 6px;
}

/* contact form */
#contact form {
	margin-bottom : 30px;
}

#contact label {
	display : inline-block;
	float   : left;
	margin  : 12px 0;
	width   : 26%;
	color   : #EBEEEE;
	font    : 15px/24px 'opensans-bold', sans-serif;
}

#contact input,
#contact textarea,
#contact select {
	margin-bottom : 42px;
	padding       : 18px 20px;
	width         : 65%;
	outline       : none;
	border        : 0;
	background    : #373233;
	color         : #eee;
	font-size     : 15px;
	line-height   : 24px;
}

#contact input:focus,
#contact textarea:focus,
#contact select:focus {
	background-color : #11ABB0;
	color            : #fff;
}

#contact button.submit {
	display        : inline-block;
	margin-left    : 26%;
	height         : auto;
	border         : none;
	border-radius  : 3px;
	background     : #0D0D0D;
	color          : #fff;
	text-transform : uppercase;
	letter-spacing : 3px;
	cursor         : pointer;
}

#contact button.submit:hover {
	background : #fff;
	color      : #0D0D0D;
}

#contact span.required {
	color     : #11ABB0;
	font-size : 13px;
}

#message-warning, #message-success {
	display       : none;
	margin-bottom : 36px;
	margin-left   : 26%;
	padding       : 24px 24px;
	width         : 65%;
	background    : #0F0F0F;
}

#message-warning {
	color : #D72828;
}

#message-success {
	color : #11ABB0;
}

#message-warning i,
#message-success i {
	margin-right : 10px;
}

#image-loader {
	position : relative;
	top      : 17px;
	left     : 18px;
	display  : none;
}

/* Twitter Feed */
#twitter {
	margin-top : 12px;
	padding    : 0;
}

#twitter li {
	margin      : 6px 0 12px 0;
	line-height : 30px;
}

#twitter li span {
	display : block;
}

#twitter li b a {
	border : none;
	color  : #474747 !important;
	font   : 13px/36px 'opensans-regular', Sans-serif;
}

/* ------------------------------------------------------------------ */
/* i. Footer
/* ------------------------------------------------------------------ */

footer {
	position      : relative;
	margin-bottom : 48px;
	padding-top   : 48px;
	color         : #303030;
	text-align    : center;
	font-size     : 14px;
}

footer a, footer a:visited {
	color : #525252;
}

footer a:hover, footer a:focus {
	color : #fff;
}

/* copyright */
footer .copyright {
	margin  : 0;
	padding : 0;
}

footer .copyright li {
	display     : inline-block;
	margin      : 0;
	padding     : 0;
	line-height : 24px;
}

.ie footer .copyright li {
	display : inline;
}

footer .copyright li:before {
	padding-right : 10px;
	padding-left  : 10px;
	color         : #095153;
	content       : "\2022";
}

footer .copyright li:first-child:before {
	display : none;
}

/* social links */
footer .social-links {
	margin    : 18px 0 30px 0;
	padding   : 0;
	font-size : 30px;
}

footer .social-links li {
	display : inline-block;
	margin  : 0 0 0 42px;
	padding : 0;
	color   : #F06000;
}

footer .social-links li:first-child {
	margin-left : 0;
}

/* Go To Top Button */
#go-top {
	position    : absolute;
	top         : -24px;
	left        : 50%;
	margin-left : -30px;
}

#go-top a {
	display            : block;
	width              : 60px;
	height             : 60px;
	border             : 0 none;
	border-radius      : 100%;
	background-color   : #525252;

	color              : #fff;
	text-decoration    : none;
	font-size          : 21px;
	line-height        : 60px;
	-webkit-transition : all 0.2s ease-in-out;

	-moz-transition    : all 0.2s ease-in-out;
	-ms-transition     : all 0.2s ease-in-out;
	-o-transition      : all 0.2s ease-in-out;
	transition         : all 0.2s ease-in-out;
}

#go-top a:hover {
	background-color : #0F9095;
}

